.chart { 
	display: grid;
  width:100%;
  height:100px;
  grid-template-rows:20% 80%;
} 
.container {  
	max-width: 1200px; 
	min-width: 650px;  
	margin: 0 auto; 
	padding: 50px;
}
.chart-row {
    display: grid;      
	  grid-template-columns: repeat(12, 1fr);
	  background-color: #DCDCDC;
  }
  .chart-period {
    color:  black;
    display: grid;      
    background-color:  transparent !important;
	  grid-template-columns: repeat(12, 1fr);

    /*border-bottom: 2px solid #000;  */
    /* grid-template-columns:repeat(12, 1fr); */
  }
  .chart-period > div {    
    position: relative; 
  }
  .chart-period div  span{
    position:absolute;
    top:0;
    left:-20px; 
		font-size: 13px;
		font-weight: bold; 
  }
  .chart-row .window{
    border:1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .green{
    background-color: #1AF05B;
  }
  .red{
    background-color: #FF5252;
  }

 